<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻列表</title>
<title>heder_nav-menu</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="/css/successful_case.css"/>
    <style>
        .mymain a{color: #000;font-size: 14px;text-decoration: underline;}
        .mymain{width: 1180px;margin: 0 auto;line-height: 25px;}
        .mymain img{height:45px; vertical-align: middle}
        a:hover{color: deepskyblue;text-decoration: none}
        .mymain:after{content: '';height: 0;overflow: hidden;display: block;clear: both;}
        .mymain li{height:50px;width:580px;margin:5px;float: left}
    </style>

</head>

<body>
<div id="header-wrapper">
    	<div class="header-inner">
        	<div class="logo">
           		<h1>
                	<a href="#" title="欢迎来到麦田国际">麦田国际</a>
                </h1> 
            </div>
            <div class="nav">
            	<ul class="clear">
                	<li>
                    	<a href="/">网站首页</a>
                    </li>
                	<li>
                    	<a href="about.html">关于我们</a>
                    </li>
                	<li>
                    	<a href="/news" style=" background:#f75a53; border-radius:5px 5px 0 0; text-decoration:none;color:#fff; ">新闻资讯</a>
                    </li>
                	<li>
                    	<a href="#" >成功案例</a>
                    </li>
                	<li>
                    	<a href="service.html">尊享服务</a>
                    </li>
                	<li>
                    	<a href="#">招商加盟</a>
                    </li>
                	<li>
                    	<a href="#">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
</div>
<div id="header_nav-wrapper">
    <div class="header_nav">
    <h2>新闻资讯 &#160; <span>让品牌与您同在</span></h2>

        <p><span>当前位置：</span> <a href="/">主页 </a><span>&gt; </span> </span>
            <a href="/news">新闻资讯</a>
        </p>
    </div>



</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
            <%for(var i=0;i<newscate.length;i++){%>
                 <a href="/news/?id=<%=newscate[i]._id%>"><%=newscate[i].title%></a>
            <%}%>

        
        </p>
    </div>


</div>


<div id="main_wrapper">

    
    <div class="mymain">
    <ul>
        <%for(var i=0;i<list.length;i++){%>
             <li><a href="/newsdetail?id=<%=list[i]._id%>">
                     <img src="/<%=list[i].pic%>" />
                     <span><%=list[i].title%></span>
                 </a>
             </li>
        <%}%>
    
    </ul>
    
    
    </div>




</div>



<div id="footer-wrapper">
            <div class="footer-inner">
                <p>
                    <a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>Copyright © 2002-2015上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
                <p>电话：15918779820 E-mail：89898981@qq.com 地址：上海市沙河广园东路1858新天地服装城</p>
            </div>
</div>
        




</body>
</html>
