<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
    <script src="/xheditor/jquery/jquery-1.11.2.min.js" charset="utf-8"></script>
    <script src="/xheditor/xheditor-1.2.2.min.js" charset="utf-8"></script>
    <script src="/xheditor/xheditor_lang/zh-cn.js" charset="utf-8"></script>
<style>
    .confirm{width: 500px;height: 150px;text-align: center;position: fixed;top: 0;left: 0;bottom: 0;right: 0;margin: auto;border: 1px solid #5e5e5e;z-index: 20;background-color: papayawhip}

</style>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<!--公共头部开始-->
<%include ../public/header.ejs%>
<!--公共头部结束-->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%include ../public/aside.ejs%>

        </div>
        <div class="col-sm-10">

            <div class="panel panel-default">

                <div class="panel-heading">
                    增加轮播图
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/news/doDelate" method="post" enctype="multipart/form-data">
                            <ul>
                                <input type="hidden"  name="id"  value="<%=list._id%>"/>
                                <input type="hidden"  id="catename" name="catename"  value="<%=list.cidName%>"/>
                                <li>标　题:<input type="text" name="title" value="<%=list.title%>"/></li>
                                <li>作　者:<input type="text" name="author" value="<%=list.author%>"/></li>
                                <li>分　类:
                                    <select name="cid" id="select">
                                        <%for(var i=0;i<newscate.length;i++){%>
                                        <%if(newscate[i]._id==newscate.cid){%>
                                        <option selected  value="<%=newscate[i]._id%>"><%=newscate[i].title%></option>
                                        <%}else{%>
                                        <option  value="<%=newscate[i]._id%>"><%=newscate[i].title%></option>
                                        <%}%>
                                        <%}%>

                                    </select>
                                </li>
                                <li>图　片:<input type="file" name="pic" /><img src="<%=list.pic%>"></li>
                                <li>关键字:<input type="text" name="keywords" value="<%=list.keywords%>"/></li>
                                <li>描　述:<input type="text" name="discription" value="<%=list.discription%>"/></li>

                                <li>
                                    内　容:<br>
                                    　　　　<textarea name="content" class="xheditor" cols="70" rows="4"><%=list.content%></textarea>
                                </li>

                            </ul>

                            <div class="confirm">
                                <p style="font-size: 30px;font-weight: bolder">确定要删除么？？？？？</p>
                                <input  type="submit" class="button btn btn-primary" value="删除">
                                <a  href="/admin/news/" class="btn btn-primary">不删了</a>
                            </div>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<script>
    var select=document.getElementById('select');
    var catename=document.getElementById('catename');
    var options=select.getElementsByTagName('option');
    select.onchange=function(){
        for(var i=0;i<options.length;i++){
            if(options[i].selected){
                catename.value=options[i].innerHTML;
            }
        }

    }
    $('.xheditor').xheditor({
        html5Upload: false,   /*必须设置*/
        upMultiple: '3',  /* bug*/
        tools:'full',
        skin:'o2007blue',
        width:500, height:100,
        upImgUrl:"/admin/news/upload",   /*post图片的地址*/
        upImgExt:"jpg,jpeg,gif,png"
    });

</script>
</body>
</html>
